#start-btn {
    width: 40%;
}

#camera {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 2rem;
}

#logo_img {
    width: 150px;
    border-radius: 2rem;
}

#textbox {
    width: 300px;
}